<% layout('layouts/boilerplate') %>

<div class="container">
  <h1>Auction ended</h1>

  <div class="row">
    <div class="col-sm">
      <div class="border p-2">
        <p>
          Congratulations! The auction you have been participating in has ended.
          <br /><br />
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          miniuat. Duis aute irure dolor in reprehenderit in voluptate velit
          esse cillu
        </p>
      </div>

      <br /><br /><br />

      <div class="">
        <h3>CONTRACTUAL AGREEMENT</h3>
        <br />
        <h4>Contract type</h4>
        <p>
          Contract text - Lorem ipsum dolor sit amet, consectetur adipisicing
          elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
          in reprehenderitlaborum.
        </p>
      </div>
    </div>

    <div class="col-sm">
      <div class="border">
        <h2 class="text-center pt-2"><%= offer.title %></h2>
        <div class="">
          <% if (offer.images.length) {%>
          <img class="img-fluid" alt="" src="<%=offer.images[0].url%> " />
          <% }else { %>
          <img
            class="img-fluid"
            alt=""
            src="https://res.cloudinary.com/diq0t2bqj/image/upload/v1622925764/YelpCamp/kjhxxshjrdudgkoehoyl.jpg"
          />
          <% } %>
        </div>

        <table class="table table-bordered">
          <tbody>
            <tr>
              <th scope="row">Reference sector:</th>
              <td><%= offer.referenceSector %></td>
            </tr>
            <tr>
              <th scope="row">Reference type:</th>
              <td><%= offer.referenceType %></td>
            </tr>
          </tbody>
        </table>
        <div class="container">
          <h6>Description</h6>
          <p><%= offer.description %></p>
        </div>
      </div>

      <br />

      <table class="table table-bordered">
        <tbody>
          <tr>
            <th scope="row">Room name:</th>
            <td><%= auction.payload.room_name.val[0] %></td>
          </tr>
          <tr>
            <th scope="row">Highest bid:</th>
            <td>$<%= auction.payload.highest_bid.val[0] %></td>
          </tr>
          <tr>
            <th scope="row">Highest bidder:</th>
            <td>
              <a href="#"><%= auction.payload.highest_bidder.val[0] %></a>
            </td>
          </tr>
          <tr>
            <th scope="row">Auction created date:</th>
            <td><%= displayDate(auction.payload.created_at.val[0]) %></td>
          </tr>
          <tr>
            <th scope="row">Auction ended date:</th>
            <td><%= displayDate(auction.payload.closing_time.val[0]) %></td>
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-lg btn-info" name="button">
        Get in contact
      </button>
    </div>
  </div>
  <br />
</div>
