<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/stars.css">

<div class="container mt-3">

    <h1>History</h1>

    <!-- Sök rutan -->
    <div class="row">
        <div class="col-sm-6"></div>

        <div class="col-sm-6">
            <form id="search-box">
                <div class="input-group mb-4">
                    <input type="text" class="search-by-name form-control" id="searchBar" name="name" placeholder="Search Auction Title">
                    <button class="search-btn btn btn-primary" type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>
    

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Auction Title</th>
                <th>Offer</th>
                <th>End date</th>
                <th>Winner</th>
            </tr>
        </tHead>

        <tbody>
            <!-- for each aution -->
            <% var maxAuctionPerPage = 10; %> 
            <% var totalAuctions = 15; %>   <!--Totalt antal auktioner användaren varit med i-->
            <% var currentAuction = 0; %>

            <% for (currentAuction = 0; currentAuction < totalAuctions; currentAuction++) { %>
                <% if(currentAuction == maxAuctionPerPage) { break; } %>

                <tr>
                    <td> <a href='/auctions/<%= currentAuction %>'>Auction <%= currentAuction %> </a> </td>
                    <td> Offer <%= currentAuction %> </td>
                    <td> 2022-01-0<%= currentAuction %> </td>
                    <td> Winner <%= currentAuction %> </td>
                </tr>
            <% } %>
        </tbody>

    </table>

    <div class="card-body text-end">  
        <a class="card-link btn btn-info col-1" href="#">More</a>
        <a class="card-link btn btn-info col-1" href="/auctions/currentAuctions">Back</a>
    </div>

    <!--
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    -->

</div>

   
<script src="/javascripts/showPageMap.js"></script>