<% layout('layouts/boilerplate') %>

<div class="container mt-3">
  <h1>History</h1>

  <!-- Sök rutan -->
  <div class="row">
    <div class="col-sm-6"></div>

    <div class="col-sm-6">
      <form id="search-box">
        <div class="input-group mb-4">
          <input
            type="text"
            class="search-by-name form-control"
            id="searchBar"
            name="name"
            placeholder="Search Auction"
            disabled
          />
          <button class="search-btn btn btn-primary" type="submit" disabled>
            Search
          </button>
        </div>
      </form>
    </div>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Auction Title</th>
        <th>Offer</th>
        <th>End date</th>
        <th>Winner</th>
      </tr>
    </thead>

    <tbody>
      <!-- for each aution -->
      <% for (let auction of auctions) { %>
      <tr>
        <td>
          <a href="/auctions/<%= auction._id %>">
            <%= auction.payload.name.val[0] %>
          </a>
        </td>
        <td><%= auction.payload.articleno.val[0] %></td>
        <td><%= auction.payload.closing_time.val[0] %></td>
        <td><%= auction.payload.highest_bidder.val[0] %></td>
      </tr>
      <% } %>
    </tbody>
  </table>

  <div class="card-body text-end">
    <!-- <a class="card-link btn btn-info col-1" href="#">More</a> -->
    <a class="card-link btn btn-info col-1" href="/auctions">Back</a>
  </div>

  <!--
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    -->
</div>
