<% layout('layouts/boilerplate') %>

<div class="container">
  <div class="d-flex align-items-center justify-content-between">
    <h2>Current Auctions</h2>
    <a class="card-link btn btn-secondary" href="/auctions/history">History</a>
  </div>

  <div class="row mt-4 d-flex flex-column gap-4">
    <% for (let auction of auctions) { %>
    <div class="d-flex flex-row gap-2">
      <img
        width="75"
        height="75"
        alt=""
        src="https://res.cloudinary.com/diq0t2bqj/image/upload/v1622925764/YelpCamp/kjhxxshjrdudgkoehoyl.jpg"
      />
      <div class="d-flex flex-column">
        <a href="/auctions/<%= auction._id %>" class="h4 text-underline-hover">
          <%= auction.payload.name.val[0] %>
        </a>
        <span class="text-muted"
          >ends in <%= showDistanceToNow(auction.payload.closing_time.val[0])
          %></span
        >
      </div>
    </div>

    <% } %>
  </div>

  <!-- <div class="row">
    <div class="col-sm-6">
      <table class="table table-hover">
        <tbody>
          <% for (let auction of auctions) { %>
          <tr>
            <td>
              <img
                width="75"
                height="75"
                alt=""
                src="https://res.cloudinary.com/diq0t2bqj/image/upload/v1622925764/YelpCamp/kjhxxshjrdudgkoehoyl.jpg"
              />

              <a
                href="/auctions/<%= auction._id %>"
                class="h4 text-underline-hover"
              >
                <%= auction.payload.name.val[0] %>
              </a>
              <br />

              Highest bid: <%= auction.payload.highest_bid.val[0] %>
              <br />
              Auction end date: <%= auction.payload.closing_time.val[0] %>
            </td>
            <td>
              <br />
              <br />

              <br />
            </td>
            <td class="text end">
              <a href="#"> <span class="badge bg-dark">!</span> </a>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div> -->
</div>
