<% layout('layouts/boilerplate') %>

<div class="container">
  <div class="d-flex align-items-center justify-content-between">
    <h2>Active Auctions</h2>
    <a class="card-link btn btn-secondary" href="/auctions/history">History</a>
  </div>

  <div class="row mt-4 d-flex flex-column gap-4">
    <% for (let auction of page.data) { %>
    <div class="d-flex flex-row gap-2">
      <div class="d-flex flex-column">
        <div class="d-flex flex-row gap-2 align-items-center">
          <a
            href="/auctions/<%= auction._id %>"
            class="h4 text-underline-hover"
          >
            <%= auction.payload.name.val[0] %>
          </a>
          <% if (auction.payload.created_by.val[0] === currentUser.username) {
          %>
          <span class="badge bg-primary fs-6 my-3">Created by me</span>
          <% } %>
          <span class="badge bg-primary fs-6 my-3"
            ><%= auction.payload.auction_type.val[0] %></span
          >
          <span class="badge bg-success fs-6 my-3"
            ><%= auction.payload.reference_sector.val[0] %></span
          >
          <span class="badge bg-success fs-6 my-3"
            ><%= auction.payload.reference_type.val[0] %></span
          >
          <% if (auction.closed) { %>
          <span class="badge bg-danger fs-6 my-3">CLOSED</span>
          <% } %>
        </div>
        <div class="">
          <span class="text-muted">
            <!-- prettier-ignore -->
            <% if (auction.closingTime < Date.now()) { %>
              ended <%= formatDistanceToNow(new Date(auction.payload.closing_time.val[0])) %> ago
            <% } else { %>
              ends in <%= formatDistanceToNow(new Date(auction.payload.closing_time.val[0])) %>
            <% } %>
          </span>
        </div>
      </div>
    </div>

    <% } %>
  </div>

  <!-- prettier-ignore -->
  <%- include('../partials/pagination', { page, path: "/auctions" }) %>
</div>
