<!-- prettier-ignore -->
<% layout('layouts/boilerplate') %>
<% const isCreator = auction.payload.created_by.val[0] === currentUser.username %>

<div class="container mt-3">
  <div class="row justify-content-between mb-3">
    <div class="d-flex gap-2">
      <h1><%= auction.payload.name.val[0] %></h1>
      <span class="badge bg-primary fs-6 my-3">
        <%= auction.payload.auction_type.val[0] %>
      </span>
      <% if (auction.closed) { %>
      <span class="badge bg-danger fs-6 my-3">CLOSED</span>
      <% } %>
    </div>

    <div class="col-4"></div>
  </div>

  <div class="row">
    <!-- Vänster kolumn - Offers -->

    <div class="col-sm-6">
      <div class="card mb-3">
        <a href="/offers/<%= offer._id %>">
          <% if (offer.images.length) {%>
          <img class="img-fluid" alt="" src="<%=offer.images[0].url%> " />
          <% }else { %>
          <img
            class="img-fluid"
            alt=""
            src="https://res.cloudinary.com/diq0t2bqj/image/upload/v1622925764/YelpCamp/kjhxxshjrdudgkoehoyl.jpg"
          />
          <% } %>
        </a>
        <div class="d-flex flex-row">
          <h2 class="my-3 mx-4">
            <a href="/offers/<%= offer._id %>"><%= offer.title %></a>
          </h2>
          <span class="badge bg-success my-4"> <%= offer.costumer %> </span>
        </div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= offer.description %></li>
          <li class="list-group-item text-muted"><%= offer.location %></li>
        </ul>
      </div>

      <div class="mb-5">
        <a class="card-link btn btn-primary" href="/auctions">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-arrow-bar-left"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z"
            />
          </svg>
          <span>All auctions</span>
        </a>
      </div>
    </div>

    <!-- Höger kolumn -->
    <div class="col-sm-6">
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between">
          <h6>
            <a href="/profile/<%= auction.payload.created_by.val[0] %>"
              ><%= auction.payload.created_by.val[0] %></a
            >
          </h6>
          <span class="text-muted">Created by</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <h6><%= auction.payload.reference_sector.val[0] %></h6>
          <span class="text-muted">Reference sector</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <h6><%= auction.payload.reference_type.val[0] %></h6>
          <span class="text-muted">Reference type</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <h6><%= auction.payload.quantity.val[0] %></h6>
          <span class="text-muted">Quantity</span>
        </li>
      </ul>

      <div class="mt-1">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between">
            <h6><%= displayDate(auction.payload.closing_time.val[0]) %></h6>
            <span class="text-muted">Closing time</span>
          </li>
          <li class="list-group-item">
            <div class="row justify-content-between">
              <div class="col-3 text-center">
                <h6 id="remaining-days" class="mb-2">0</h6>
                <span class="text-muted">Days</span>
              </div>
              <div class="col-3 text-center">
                <h6 id="remaining-hours" class="mb-2">0</h6>
                <span class="text-muted">Hours</span>
              </div>
              <div class="col-3 text-center">
                <h6 id="remaining-minutes" class="mb-2">0</h6>
                <span class="text-muted">Minutes</span>
              </div>
              <div class="col-3 text-center">
                <h6 id="remaining-seconds" class="mb-2">0</h6>
                <span class="text-muted">Seconds</span>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <% if (!isCreator && !auction.closed) { %>
      <form
        class="w-100 input-group mt-2"
        method="POST"
        action="/auctions/<%= auction._id %>"
      >
        <!-- <input type="hidden" name="_csrf" value="" /> -->
        <span class="input-group-text">$</span>
        <input
          id="bid"
          name="bid"
          required
          type="text"
          class="form-control"
          aria-label="bid"
          placeholder="0.00"
        />
        <button type="submit" class="input-group-text btn-primary">
          Place bid
        </button>
      </form>
      <% } else if (isCreator && auction.closed) { %>
      <div class="mt-2">
        <% if (auction.bids.length == 0) { %>
        <button type="button" class="card-link btn btn-danger" disabled>
          Select Winner
        </button>
        <small class="text-muted d-block mt-1"
          >Cannot select winner. No bids have been placed.</small
        >
        <% } else { %>
        <button
          type="button"
          class="card-link btn btn-primary w-100"
          data-bs-toggle="modal"
          data-bs-target="#pickWinnerModal"
        >
          Select Winner
        </button>
        <% } %>
      </div>
      <% } %>

      <!-- Bud historik-->
      <h4 class="mt-4">Bid History</h4>

      <div class="card">
        <table class="table">
          <% for (let bid of auction.bids) { %>
          <tbody>
            <td><%= bid.sender %></td>
            <td><%= displayDate(bid.created_at) %></td>
            <td>$<%= bid.text %></td>
          </tbody>

          <% } %>
        </table>

        <a class="btn btn-primary" href="/auctions/<%= auction._id %>/bids">
          View all bids</a
        >
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="pickWinnerModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <form class="" method="POST" action="/auctions/<%= auction._id %>/end">
        <!-- <input type="hidden" name="_csrf" value="" /> -->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Select Winning Bid
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="table-responsive-sm">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Sender</th>
                    <th scope="col">Distance</th>
                    <th scope="col">Bid</th>
                    <th scope="col">Placed</th>
                    <th scope="col">Select as winner</th>
                  </tr>
                </thead>
                <tbody>
                  <% for (let bid of auction.bids) { %>
                  <tr>
                    <th scope="row"><%= bid.sender %></th>
                    <td><%= Math.round(bid.distance) %></td>
                    <td><%= bid.text %></td>
                    <td><%= displayDate(bid.created_at) %></td>
                    <td class="d-flex justify-content-center">
                      <input
                        type="radio"
                        class="btn-check"
                        name="winner"
                        id="<%= bid.sender %>"
                        autocomplete="off"
                        value="<%= bid.sender %>"
                      />
                      <label
                        class="btn btn-outline-primary"
                        for="<%= bid.sender %>"
                        >Select</label
                      >
                    </td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">End auction</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  const closingTime = new Date("<%= auction.closingTime.toString() %>");

  const getSplitClosingTime = (closingTime) => {
    let diff = closingTime.getTime() - Date.now();

    const SECOND = 1000;
    const MINUTE = 60 * SECOND;
    const HOUR = 60 * MINUTE;
    const DAY = 24 * HOUR;

    const days = Math.max(0, Math.floor(diff / DAY));
    diff -= days * DAY;
    const hours = Math.max(0, Math.floor(diff / HOUR));
    diff -= hours * HOUR;
    const minutes = Math.max(0, Math.floor(diff / MINUTE));
    diff -= minutes * MINUTE;
    const seconds = Math.max(0, Math.floor(diff / SECOND));

    return { days, hours, minutes, seconds };
  };

  const daySelector = document.getElementById("remaining-days");
  const hourSelector = document.getElementById("remaining-hours");
  const minuteSelector = document.getElementById("remaining-minutes");
  const secondSelector = document.getElementById("remaining-seconds");
  const updateClosingTime = () => {
    const time = getSplitClosingTime(closingTime);
    daySelector.innerHTML = time.days;
    hourSelector.innerHTML = time.hours;
    minuteSelector.innerHTML = time.minutes;
    secondSelector.innerHTML = time.seconds;
  };
  updateClosingTime();

  setInterval(() => {
    updateClosingTime();
  }, 1000);
</script>
