<% layout('layouts/boilerplate') %>

<h1>Bids</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"><p class="h4">Bid no</p></th>
      <th scope="col"><p class="h4">Sender</p></th>
      <th scope="col"><p class="h4">Distance</p></th>
      <th scope="col"><p class="h4">Time for bid</p></th>
      <th scope="col"><p class="h4">Bid amount</p></th>
    </tr>
  </thead>
  <tbody> 
    <% var count = 0 %>
    <% for (let bid of allBids) { %>
      <tr>
        <td scope="row"><%= ((currentPage-1)*perPage) + count++ %></th>
        <td><strong><%= bid.sender.val[0] %></strong></td>
        <td><%= Math.round(bid.distance.val[0]) %></td>
        <td><%= displayDate(bid.created_at.val[0]) %></td>
        <td><p><strong><%=bid.text.val[0] %> $</strong></p></td>
      </tr>
    <% } %>
    </tbody>
</table>

<!-- prettier-ignore -->
<%- include('../partials/pagination', { data: allBids, currentPage, totalPages, path: `${auctionId}/bids` }) %>
