<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= baseUrl %>/">Digiprime</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="<%= baseUrl %>/">Home</a>
        <a class="nav-link" href="<%= baseUrl %>/offers">Offers</a>
        <a class="nav-link" href="<%= baseUrl %>/offers/new">New Offers</a>
        <a class="nav-link" href="<%= baseUrl %>/offers/directory"
          >Offers Directory</a
        >
        <a class="nav-link" href="<%= baseUrl %>/auctions">Current Auctions</a>
        <a class="nav-link" href="<%= baseUrl %>/negotiations">Negotiations</a>
      </div>

      <% if (currentUser) { %>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown mx-4">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <% if (currentUser.image && currentUser.image.url) { %>
            <img
              src="<%= currentUser.image.url %>"
              width="30"
              height="30"
              class="rounded-circle"
            />
            <% } else { %>
            <img
              src="<%= baseUrl %>/pictures/user_pic.png"
              width="30"
              height="30"
              class="rounded-circle"
            />
            <% } %> <% if (unreadMessages) { %>
            <span
              class="position-absolute top-15 translate-middle p-1 bg-danger border border-light rounded-circle"
            >
              <span class="visually-hidden">New alerts</span>
            </span>
            <% } %>
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <li class="dropdown-header">
              <h6>Signed in as:</h6>
              <p style="margin: 0"><%= currentUser.username %></p>
            </li>
            <hr style="margin: 0.5rem 0" />
            <li>
              <a class="dropdown-item" href="<%= baseUrl %>/messages">
                Digibox <% if (unreadMessages) { %>
                <span class="badge bg-primary"><%= unreadMessages %></span>
                <% } %>
              </a>
            </li>
            <hr style="margin: 0.5rem 0" />
            <li>
              <a
                class="dropdown-item"
                href="<%= baseUrl %>/profile/<%= currentUser.username %>"
              >
                Profile page
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="<%= baseUrl %>/profile/edit"
                >Edit Profile</a
              >
            </li>
            <li>
              <form action="<%= baseUrl %>/auth/logout" method="POST">
                <!-- <input type="hidden" name="_csrf" value="" /> -->
                <button type="submit" class="btn btn-link dropdown-item">
                  Log out
                </button>
              </form>
            </li>
          </ul>
        </li>
      </ul>
      <% } else {%>
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="<%= baseUrl %>/auth/login">Log In</a>
      </div>
      <% } %>
    </div>
  </div>
</nav>
