<% layout('layouts/boilerplate') %>

<form
  id="search-directory"
  action="/offers/directory"
  method="get"
  class="mb-5"
>
  <div class="filters input-group">
    <label
      class="bg-light rounded-start input-group-text border border-secondary"
      for="costume"
      >Offer Interest</label
    >
    <select
      class="form-select rounded-end border border-secondary"
      id="costumer"
      name="offer[costumer]"
      aria-label=".form-select-sm example"
    >
      <option value="">Choose..</option>
      <% for (let costumer of costumers) { %>
      <option value="<%= costumer %>"><%= costumer %></option>
      <% } %>
    </select>

    <label
      class="bg-light rounded-start input-group-text border border-secondary"
      for="referenceSector"
      >Reference Sector</label
    >
    <select
      class="form-select rounded-end border border-secondary"
      id="referenceSector"
      name="offer[referenceSector]"
      aria-label=".form-select-sm example"
    >
      <option value="">Choose..</option>
      <% for (let referenceSector of referenceSectors) { %>
      <option value="<%= referenceSector %>"><%= referenceSector %></option>
      <% } %>
    </select>

    <label
      class="bg-light rounded-start input-group-text border border-secondary"
      for="referenceType"
      >Reference Type</label
    >
    <select
      class="form-select rounded-end border border-secondary"
      id="referenceType"
      name="offer[referenceType]"
      aria-label=".form-select-sm example"
    >
      <option value="">Choose..</option>
      <% for (let referenceType of referenceTypes) { %>
      <option value="<%= referenceType %>"><%= referenceType %></option>
      <% } %>
    </select>
    <button class="rounded search-btn btn btn-primary" type="submit">
      Search
    </button>
  </div>
</form>

<div class="container">
  <form method="GET" action="/auctions/create">
    <button
      id="createAuctionBtn"
      type="submit"
      class="btn btn-primary mb-3"
      disabled
    >
      Create auction from selection
    </button>
    <input type="hidden" name="from" value="search" />

    <div class="row row-cols-1 row-cols-md-3 g-4">
      <% for (let offer of offers) { %>

      <div class="col" id="eachBlock" style="display: block">
        <div class="card mb-1" id="offerCards">
          <div class="position-relative">
            <span
              class="position-absolute badge bg-primary m-2"
              id="itemCostumer"
              ><%= offer.costumer %></span
            >
            <a href="/offers/<%= offer._id %>">
              <% if (offer.images.length) {%>
              <img class="img-fluid" alt="" src="<%=offer.images[0].url%> " />
              <% }else { %>
              <img
                class="img-fluid"
                alt=""
                src="https://res.cloudinary.com/diq0t2bqj/image/upload/v1622925764/YelpCamp/kjhxxshjrdudgkoehoyl.jpg"
              />
              <% } %>
            </a>
          </div>

          <div class="accordion accordion-flush" id="accordionTest">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button
                  class="accordion-button collapsed fs-4 fw-bold"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#acc-<%= offer.id %>"
                  aria-expanded="false"
                  aria-controls="acc-<%= offer.id %>"
                >
                  <a href="/offers/<%= offer._id %>">
                    <span id="searchTitle"><%= offer.title %> </span>
                  </a>
                </button>
              </h2>
              <div
                id="acc-<%= offer.id %>"
                class="accordion-collapse collapse"
                aria-labelledby="headingOne"
                data-bs-parent="#accordionTest"
              >
                <div class="accordion-body">
                  <div class="list-group list-group-flush">
                    <li class="list-group-item" id="itemReferenceSector">
                      <%= offer.referenceSector %>
                    </li>
                    <li class="list-group-item" id="itemReferenceType">
                      <%= offer.referenceType %>
                    </li>
                    <li class="list-group-item">$<%= offer.price %> / Piece</li>
                    <li class="list-group-item"><%= offer.description %></li>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <small class="text-muted"
                ><a href="/profile/<%= offer.author.username %>"
                  ><%= offer.author.username %></a
                ></small
              >
            </li>
            <li class="list-group-item">
              <small class="text-muted"><%= offer.location %></small>
            </li>
            <li
              class="list-group-item d-flex align-items-center justify-content-between"
            >
              <small class="text-muted">Select for auction</small>
              <input
                id="offer-input-<%= offer.id %>"
                class="form-check-input"
                name="offerIds"
                type="checkbox"
                value="<%= offer.id %>"
                aria-label="Checkbox for following text input"
              />
            </li>
          </ul>
        </div>
      </div>

      <% } %>
    </div>
  </form>
</div>

<script>
  const offers = {features: <%- JSON.stringify(offers) %>};
  const currentUsername = "<%- currentUser.username %>";

  let selectedOffers = new Map();
  const createAuctionSelector = document.getElementById("createAuctionBtn");

  const checkSelectedOffers = () => {
    let sector, type, customer, creators = {};

    let checksOK = selectedOffers.size >= 2;
    if (checksOK) {
      for (let [offerId, offer] of selectedOffers) {
        if (sector === undefined) {
          sector = offer.referenceSector;
          type = offer.referenceType;
          customer = offer.costumer;
        }

        const currUsername = offer.author.username;
        if (sector !== offer.referenceSector || type !== offer.referenceType || customer !== offer.costumer || creators[currUsername] !== undefined || offer.author.username === currentUsername) {
          checksOK = false;
          break;
        }
        creators[currUsername] = true;
      }
    }

    if (checksOK) {
      createAuctionSelector.disabled = false;
    } else {
      createAuctionSelector.disabled = true;
    }
  }

  for (let offer of offers.features) {
    const selector = document.getElementById(`offer-input-${offer.id}`);
    selector.addEventListener('change', (e) => {
      if (e.target.checked) {
        // Added.
        selectedOffers.set(offer.id, offer);
      } else {
        // Removed.
        selectedOffers.delete(offer.id);
      }
      checkSelectedOffers();
    })
  }
</script>

<script src="/javascripts/filterSearch.js"></script>
