<% layout('layouts/boilerplate') %>

<form id="search-directory" action="/offers/directory" method="get">
  <div class="filters input-group mb-5">
    <label
      class="bg-light rounded-start input-group-text border border-secondary"
      for="costume"
      >Offer Interest</label
    >
    <select
      class="form-select rounded-end border border-secondary"
      id="costumer"
      name="offer[costumer]"
      aria-label=".form-select-sm example"
    >
      <option value="">Choose..</option>
      <% for (let costumer of costumers) { %>
      <option value="<%= costumer %>"><%= costumer %></option>
      <% } %>
    </select>

    <label
      class="bg-light rounded-start input-group-text border border-secondary"
      for="referenceSector"
      >Reference Sector</label
    >
    <select
      class="form-select rounded-end border border-secondary"
      id="referenceSector"
      name="offer[referenceSector]"
      aria-label=".form-select-sm example"
    >
      <option value="">Choose..</option>
      <% for (let referenceSector of referenceSectors) { %>
      <option value="<%= referenceSector %>"><%= referenceSector %></option>
      <% } %>
    </select>

    <label
      class="bg-light rounded-start input-group-text border border-secondary"
      for="referenceType"
      >Reference Type</label
    >
    <select
      class="form-select rounded-end border border-secondary"
      id="referenceType"
      name="offer[referenceType]"
      aria-label=".form-select-sm example"
    >
      <option value="">Choose..</option>
      <% for (let referenceType of referenceTypes) { %>
      <option value="<%= referenceType %>"><%= referenceType %></option>
      <% } %>
    </select>
    <button class="rounded search-btn btn btn-primary" type="submit">
      Search
    </button>
  </div>
</form>

<div class="container">
  <form method="GET" action="/auctions/create">
    <input type="hidden" name="from" value="search" />

    <div class="row row-cols-1 row-cols-md-3 g-1">
      <% for (let offer of offers) { const pillStyle = offer.customer ===
      "Supply" ? "bg-primary" : "bg-secondary"; %>

      <div class="col" id="eachBlock" style="display: block">
        <div class="card mb-1" id="offerCards">
          <div class="position-relative">
            <span
              class="badge rounded-pill <%= pillStyle %> position-absolute m-1"
              id="itemCostumer"
              ><%= offer.costumer %></span
            >
            <a href="#">
              <% if (offer.images.length) {%>
              <img class="img-fluid" alt="" src="<%=offer.images[0].url%> " />
              <% }else { %>
              <img
                class="img-fluid w-100"
                alt=""
                src="https://res.cloudinary.com/diq0t2bqj/image/upload/v1622925764/YelpCamp/kjhxxshjrdudgkoehoyl.jpg"
              />
              <% } %>
            </a>
          </div>

          <div class="py-2 px-3">
            <div class="d-flex justify-content-between">
              <div class="d-flex align-items-center gap-2">
                <a href="#"><h4 id="searchTitle"><%= offer.title %></h4></a>
              </div>
            </div>
          </div>

          <ul class="list-group list-group-flush text-muted">
            <li class="list-group-item">
              <small class=""
                ><a href="#"><%= offer.author.username %></a></small
              >
            </li>
            <li class="list-group-item">
              <small class="text-muted"
                ><%= offer.referenceSector %> / <%= offer.referenceType
                %></small
              >
            </li>
            <li class="list-group-item">
              <small class="text-muted"><%= offer.location %></small>
            </li>
            <li
              class="list-group-item d-flex align-items-center justify-content-between"
            >
              <small class="text-muted">Select for auction</small>
              <input
                id="offer-input-<%= offer.id %>"
                class="form-check-input"
                name="offerId"
                type="checkbox"
                value="<%= offer.id %>"
                aria-label="Checkbox for following text input"
              />
            </li>
          </ul>
        </div>
      </div>
      <% } %>
    </div>

    <button type="submit" class="btn btn-primary">Create auction</button>
  </form>
</div>

<script>
  const offers = {features: <%- JSON.stringify(offers) %>};
</script>

<script src="/javascripts/filterSearch.js"></script>
