<% layout('layouts/boilerplate') %>

<form id="search-directory" action="/offers/directory" method="get">
  <div class="filters input-group mb-5">
    <label
      class="bg-light rounded-start input-group-text border border-secondary"
      for="costume"
      >Offer Interest</label
    >
    <select
      class="form-select rounded-end border border-secondary"
      id="costumer"
      name="offer[costumer]"
      aria-label=".form-select-sm example"
    >
      <option value="">Choose..</option>
      <% for (let costumer of costumers) { %>
      <option value="<%= costumer %>"><%= costumer %></option>
      <% } %>
    </select>

    <label
      class="bg-light rounded-start input-group-text border border-secondary"
      for="referenceSector"
      >Reference Sector</label
    >
    <select
      class="form-select rounded-end border border-secondary"
      id="referenceSector"
      name="offer[referenceSector]"
      aria-label=".form-select-sm example"
    >
      <option value="">Choose..</option>
      <% for (let referenceSector of referenceSectors) { %>
      <option value="<%= referenceSector %>"><%= referenceSector %></option>
      <% } %>
    </select>

    <label
      class="bg-light rounded-start input-group-text border border-secondary"
      for="referenceType"
      >Reference Type</label
    >
    <select
      class="form-select rounded-end border border-secondary"
      id="referenceType"
      name="offer[referenceType]"
      aria-label=".form-select-sm example"
    >
      <option value="">Choose..</option>
      <% for (let referenceType of referenceTypes) { %>
      <option value="<%= referenceType %>"><%= referenceType %></option>
      <% } %>
    </select>
    <button class="rounded search-btn btn btn-primary" type="submit">
      Search
    </button>
  </div>
</form>

<div class="container">
  <form method="GET" action="/auctions/create">
    <input type="hidden" name="from" value="search" />

    <div class="row row-cols-1 row-cols-md-3 g-4">
      <% for (let offer of offers) { %>

      <div class="col" id="eachBlock" style="display: block">
        <div class="card mb-1" id="offerCards">
          <% if (offer.images.length) {%>
          <img class="img-fluid" alt="" src="<%=offer.images[0].url%> " />
          <% }else { %>
          <img
            class="img-fluid"
            alt=""
            src="https://res.cloudinary.com/diq0t2bqj/image/upload/v1622925764/YelpCamp/kjhxxshjrdudgkoehoyl.jpg"
          />
          <% } %>

          <div class="accordion accordion-flush" id="accordionTest">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button
                  class="accordion-button collapsed fs-4 fw-bold"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseOne"
                  aria-expanded="false"
                  aria-controls="collapseOne"
                >
                  <span id="searchTitle"><%= offer.title %> </span>
                  <span class="text-white">.</span>
                  <span class="badge rounded-pill bg-success" id="itemCostumer"
                    ><%= offer.costumer %></span
                  >
                </button>
              </h2>
              <div
                id="collapseOne"
                class="accordion-collapse collapse"
                aria-labelledby="headingOne"
                data-bs-parent="#accordionTest"
              >
                <div class="accordion-body">
                  <div class="list-group list-group-flush">
                    <li class="list-group-item" id="itemReferenceSector">
                      <%= offer.referenceSector %>
                    </li>
                    <li class="list-group-item" id="itemReferenceType">
                      <%= offer.referenceType %>
                    </li>
                    <li class="list-group-item">$<%= offer.price %> / Piece</li>
                    <li class="list-group-item"><%= offer.description %></li>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <small class="text-muted"><%= offer.location %></small>
            </li>
          </ul>
          <div class="card-body">
            <div class="d-grid gap-2">
              <a class="btn btn-primary" href="/offers/<%= offer._id %>"
                >View <%= offer.location %></a
              >
            </div>
          </div>
        </div>

        <div class="input-group flex flex-row mb-3">
          <div class="form-control align-middle flex-grow-1">
            Select offer for auction
          </div>
          <div class="input-group-text">
            <input
              id="offer-input-<%= offer.id %>"
              class="form-check-input mt-0"
              name="offerId"
              type="checkbox"
              value="<%= offer.id %>"
              aria-label="Checkbox for following text input"
            />
          </div>
        </div>
      </div>

      <% } %>
    </div>

    <button type="submit" class="btn btn-primary">Create auction</button>
  </form>
</div>

<script>
  const offers = {features: <%- JSON.stringify(offers) %>};
</script>

<script src="/javascripts/filterSearch.js"></script>
