<% layout('layouts/boilerplate') %>

<!-- https://getbootstrap.com/docs/5.0/examples/sidebars/ -->
<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px; margin:0px; left-top:0px; height:100%; float:left;">
    <div style="position:fixed;">
    <p class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <span class="fs-4">Digi box</span>
    </p>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="/messages/" 
        <% if(!filter) { %> class="nav-link active" aria-current="page" <% } else {%> class="nav-link link-dark" <%}%>
        >
          All messages
        </a>
      </li>
      <li>
        <a href="?filter=unread" 
        <% if(filter == "unread") { %> class="nav-link active" aria-current="page" <% } else {%> class="nav-link link-dark" <%}%>
        >
          Unread messages
        </a>
      </li>
      <li>
        <a href="?filter=read" 
        <% if(filter == "read") { %> class="nav-link active" aria-current="page" <% } else {%> class="nav-link link-dark"<%}%>
        >
          read messages
        </a>
      </li>
      <li>
        <a href="?filter=marked" 
        <% if(filter == "marked") { %> class="nav-link active" aria-current="page" <% } else {%> class="nav-link link-dark"<%}%>
        >
          Marked messages
        </a>
      </li>
    </ul>
    <hr>
    </div>
  </div>

<div class="card"> 
<div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white" style="float:left;">
    <p class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom" style="margin-bottom:0px;">
      <span class="fs-5 fw-semibold">Messages</span>
    </p>
    <div class="list-group list-group-flush border-bottom scrollarea">
      
      <% for (let message of messages.reverse()) { 
      const [d,t] = displayDate(message.messages[message.messages.length-1].createdAt).split(" ")%>
      	      <form method="post" action="">
      	      <input type="submit" value="mark">
      	      </form>
	      <a href="/messages/<%= message._id%>" class="list-group-item list-group-item-action py-3 lh-tight">
		<div class="d-flex w-100 align-items-center justify-content-between">
		  <strong class="mb-1"> <%= message.title %> </strong>
		  <small><%= d %> <%= t %></small>
		</div>
		<div class="col-10 mb-1 small">Started by: <%= message.from.username %>  with: <%= message.to.username %> </div>
	      </a>
      
      
      <% } %>
      <!--
      <a href="#" class="list-group-item list-group-item-action active py-3 lh-tight" aria-current="true">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">Auction 1</strong>
          <small>Wed</small>
        </div>
        <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
      </a>
      
      <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">Offer 13</strong>
          <small class="text-muted">Tues</small>
        </div>
        <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
      </a>
      <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">Offer 3</strong>
          <small class="text-muted">Mon</small>
        </div>
        <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
      </a>

      <a href="#" class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">Auction 5</strong>
          <small class="text-muted">Wed</small>
        </div>
        <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
      </a>
      <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">Auction 5</strong>
          <small class="text-muted">Tues</small>
        </div>
        <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
      </a>
      <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">Offer 20</strong>
          <small class="text-muted">Mon</small>
        </div>
        <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
      </a>
      <a href="#" class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">Offer 20</strong>
          <small class="text-muted">Wed</small>
        </div>
        <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
      </a>
      <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">Auction 1</strong>
          <small class="text-muted">Tues</small>
        </div>
        <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
      </a>
      <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">Auction 12</strong>
          <small class="text-muted">Mon</small>
        </div>
        <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
      </a>
      <a href="#" class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">Offer 20</strong>
          <small class="text-muted">Wed</small>
        </div>
        <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
      </a>
      <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">Auction 12</strong>
          <small class="text-muted">Tues</small>
        </div>
        <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
      </a>
      <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">Offer 1</strong>
          <small class="text-muted">Mon</small>
        </div>
        <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
      </a>
      -->
    </div>
  </div>
</div> 





<!--<div class="card"> 

	<div class="card-header">
		Theme of the message
	</div>
	
	<div class="card-body">
		<h5> Sender </h5>
		<p> and maybe part of the message</p> 
	</div>

</div>-->
