<% layout('layouts/boilerplate') %>

<div class="container mt-3">

  <div class="row justify-content-between mb-3">

    <div class="d-flex gap-2 mb-2">
      <h2> <%= negotiation.name %></h2>
      <% if (negotiation.status === "accepted") { %>
      <span class="badge bg-success fs-6 my-3">Accepted</span>
      <% } else if (negotiation.status === "rejected") { %>
      <span class="badge bg-danger fs-6 my-3">Rejected</span>
      <% } %>
    </div>

    <div class="col-sm-4">
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between">
          <h6>
            <strong>
            <a href="/profile/<%= negotiation.created_by %>"
              ><%= negotiation.created_by %></a
            >
            </strong>
          </h6>
          <% if (offer.costumer === "Demand") { %> 
              <span class="text-muted">Creator of Negotiation</span>
              <span class="badge bg-primary rounded-pill">Seller</span>
          <% } else if (offer.costumer === "Supply") { %>
              <span class="text-muted">Creator of Negotiation</span>
              <span class="badge bg-primary rounded-pill">Buyer</span>
          <% } %>
        </li>
        <li class="list-group-item d-flex justify-content-between">
            <h6>
              <strong>
              <a href="/profile/<%= negotiation.seller %>"
                ><%= negotiation.seller %></a
              >
              </strong>
            </h6>
          <% if (offer.costumer === "Demand") { %> 
            <span class="text-muted">Creator of Offer</span>
            <span class="badge bg-primary rounded-pill">Buyer</span>
        <% } else if (offer.costumer === "Supply") { %>
            <span class="text-muted">Creator of Offer</span>
            <span class="badge bg-primary rounded-pill">Seller</span>
        <% } %>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <h6><strong><%= negotiation.reference_sector %></strong></h6>
          <span class="text-muted">Reference Sector</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <h6><strong><%= negotiation.reference_type %></strong></h6>
          <span class="text-muted">Reference Type</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <h6><strong><%= negotiation.quantity %></strong></h6>
          <span class="text-muted">Quantity</span>
        </li>
      </ul>
    </div>


    <div class="col-sm-6">
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between">
          <h6><strong><%= negotiation.offer_user %></strong></h6>
          <span class="text-muted">Bid by</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <h6><strong>$<%= negotiation.current_offer %></strong></h6>
          <span class="text-muted">Current bid</span>
        </li>
      </ul>

      <% if (currentUser.username !== negotiation.offer_user) { %>
        <form
          class="w-100 input-group mt-2"
          method="POST"
          action="/negotiations/<%= negotiation._id %>"
        >
          <!-- <input type="hidden" name="_csrf" value="" /> -->
          <span class="input-group-text">$</span>
          <input
            id="bid"
            name="bid"
            required
            type="text"
            class="form-control"
            aria-label="bid"
            placeholder="0.00"
          />
          <button type="submit" class="input-group-text btn-primary">
           Place counter offer
          </button>
        </form>

        <div class="row d-flex flex-row">
          <form
            class="input-group mt-2"
            method="POST"
            action="/negotiations/<%= negotiation._id %>/accept"
          >
            <button type="submit" class="input-group-text btn-primary">
              Accept Offer
            </button>
          </form>

          <form
            class="input-group mt-2"
            method="POST"
            action="/negotiations/<%= negotiation._id %>/cancel"
          >
            <button type="submit" class="input-group-text btn-danger">
              Reject offer
            </button>
          </form>
        </div>

        <% }else { %>
          <div class="mt-4">
            <p>
              <strong>You have made the latest offer. Waiting for a decision from
              <% if (negotiation.created_by === negotiation.offer_user) { %>
                <a href="/profile/<%= negotiation.seller %>">
                <%= negotiation.seller %></a>
              <% }else { %>
                  <a href="/profile/<%= negotiation.created_by %>"
                    ><%= negotiation.created_by %></a>
              <% } %>
              </strong>
            </p>
          </div>
        <% } %>


      </div>
    </div>

    <div class="mx-auto mt-5" style="width: 900px;">
      <div class="card mb-5">
        <a href="/offers/<%= offer._id %>">
          <% if (offer.images.length) {%>
          <img class="img-fluid" alt="" src="<%=offer.images[0].url%> " />
          <% }else { %>
          <img
            class="img-fluid rounded"
            alt=""
            src="https://res.cloudinary.com/diq0t2bqj/image/upload/v1622925764/YelpCamp/kjhxxshjrdudgkoehoyl.jpg"
          />
          <% } %>
        </a>
        <div class="d-flex flex-row">
          <h2 class="my-3 mx-4">
            <a href="/offers/<%= offer._id %>"><%= offer.title %></a>
          </h2>
          <span class="badge bg-success my-4"> <%= offer.costumer %> </span>
        </div>
  
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-muted"><%= offer.location %></li>
          <li class="list-group-item">$<%= offer.price %> / Piece</li>
          <li class="list-group-item">
            Submitted by
            <a href="/profile/<%= offer.author.username %>"
              ><%= offer.author.username %></a
            >
          </li>
        </ul>
      </div>
    </div>
    


</div>


